body{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.table-data {
    border-collapse: collapse;
    width: 100%;
}

.table-data th {
    border: 1px solid #ddd;
    padding: 10px 5px;
    text-align: left;
    background-color: #3d5eb9;
    color: white;
}

.table-data td{
    border: 1px solid #ddd;
    padding: 5px;
}
  
.table-data tr:nth-child(even){background-color: #f2f2f2;}
  
